.fitur-caption {
  margin-left: 40px;
}

.fitur-caption img {
  margin-bottom: 40px;
}

.fitur-caption h1 {
  font-weight: 800;
  margin-bottom: 40px;
}

.list-fitur img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 60px;
}

@media (max-width: 575.98px) {
  .fitur-caption img.line2 {
    margin-top: 40px;
  }

  .fitur-caption .list-fitur {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .fitur-caption img.line2 {
    margin-top: 40px;
  }

  .fitur img.lekung {
    margin-top: 500px;
  }
}

@media (max-width: 991.98px) {
  .fitur img.lekung {
    margin-top: 400px;
  }
}
