.start-with {
    position: relative;
    background-color: #F6F8FD;
    width: 100%;
    margin-top: 160px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.start-with-caption {
    
}

.start-with h1 {
    font-weight: 800;
}

.start-with p {
    font-weight: 300;
    margin-top: 39px;
    margin-bottom: 49px;
}

.start-with-img {
    position: absolute;
    right: 40px;
    top: 40px;
}

.start-with-img img {
    width: 250px;
} 

@media (max-width: 767.98px) { 
    .start-with-img {
        z-index: -1;
    }
}