$blue: #138989;
$font-family-sans-serif: 'Poppins';

.btn {
    color: white !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
@import '~bootstrap/scss/bootstrap.scss';