.article {
  margin-top: 100px;
}

.article h1 {
  font-weight: 700;
}

.content-left {
  margin-top: 60px;
}

.content-left img {
  width: 600px;
  height: auto;
}

.article img,
.right-child-title {
  transition: 300ms linear;
}

.article img:hover,
.right-child-title:hover {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.content-left h2 {
  margin-top: 40px;
  font-weight: 800;
}

.content-left p {
  margin-top: 38px;
  font-weight: 300;
  color: #5d5d64;
}

.content-right {
  margin-top: 60px;
  margin-left: 35px;
}

.content-right h2 {
  font-weight: 800;
  font-size: 18px;
}

.content-right p {
  margin-top: 12px;
  font-weight: 300;
  color: #5d5d64;
}

.content-right img {
  width: 150px;
  height: 80px;
}

.content-right .right-child {
}

.article .selengkapnya {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.btn-selengkapnya {
  width: 100%;
}

@media (max-width: 575.98px) {
  .content-left img {
    width: 300px !important;
  }
}

@media (max-width: 767.98px) {
  .content-left img {
    width: 400px;
  }
}

@media (max-width: 991.98px) {
  .right-child img {
    margin-left: auto;
  }
}

@media (max-width: 1199.98px) {
  .right-child img {
    margin-left: auto;
  }
}
